[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/cshawnspeer
[access "refs/for/refs/*"]
	read = group user/cshawnspeer
	push = group user/cshawnspeer
	label-Code-Review = -2..+2 group user/cshawnspeer
	label-Verified = -1..+1 group user/cshawnspeer
	rebase = group user/cshawnspeer
	removeReviewer = group user/cshawnspeer
	submit = group user/cshawnspeer
[access "refs/heads/*"]
	read = group user/cshawnspeer
	create = group user/cshawnspeer
	push = +force group user/cshawnspeer
	pushMerge = group user/cshawnspeer
[access "refs/tags/*"]
	push = +force group user/cshawnspeer
	pushTag = group user/cshawnspeer
	pushSignedTag = group user/cshawnspeer
